* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Tamrin';
    src: url('fuentes/tamrin.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Tamrin', sans-serif;
}

/* --- SECCIÓN INICIO --- */
.inicio {
    min-height: 100vh;
    background-image: url('fondo/fondoISFDyT31.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.montos {
    position: absolute;
    left: 6%;
    bottom: 5%;
    display: flex;
    gap: 20px;
}

.card {
    width: 220px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.671);
    border-radius: 40px;
}

.card p {
    margin: 0;
    font-size: 15px;
}

.card strong {
    font-size: 20px;
}

/* Seccion de preguntas frecuentes */
.preguntas {
    background-color: #4d70bc;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.preguntas_contenido {
    flex: none;
    flex-shrink: 0;
}

.preguntas h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: black;
}

.preguntas_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
}

/* Cards giratorias (FLIP) */
.pregunta-flip {
    width: 400px;
    height: 180px;
    perspective: 1000px;
    cursor: pointer;
}

.pregunta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.pregunta-flip:hover .pregunta-inner {
    transform: rotateY(180deg);
}

.pregunta-front, .pregunta-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Tamrin', sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Frente de la tarjeta */
.pregunta-front {
    background-color: #a9cd46;
    color: #000000;
}

/* Card parte de atras*/
.pregunta-back {
    background-color: #a9cd46;
    color: #000000;
    transform: rotateY(180deg);
}

.footer_separacion {
    margin-top: -220px;
}