* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Tamrin';
    src: url('fuentes/tamrin.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Tamrin';
}
.inicio {
    min-height: 100vh;
    background-image: url('fondo/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.montos {
    position: absolute;
    left: 6%;
    bottom: 5%;
    display: flex;
    gap: 20px;
}
.card {
    width: 220px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.671);
    border-radius: 40px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card p {
    margin: 0;
    font-size: 15px;
}
.card strong {
    font-size: 20px;
}
.preguntas {
    background-color: #5272bd;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.preguntas_contenido {
    flex: none;
    flex-shrink: 0;
}
.preguntas h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: black;
}
.preguntas_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
}
.pregunta {
    width: 400px;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a9cd46;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.footer_separacion {
    margin-top: -70px;
}