@font-face {
    font-family: 'Tamrin';
    src: url('fuentes/tamrin.ttf') format('truetype');
}

.contenedor {
    display: flex;
    height: 55px;
    justify-content: center;
}

.barra {
    background-color: rgba(184, 185, 187, 0.2);
    border-radius: 999px;
    width: 700px;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%; 
}

li {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

a {
    display: inline-block; 
    position: relative;        
    text-decoration: none;
    color: black;
    font-family: 'Tamrin';
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 4px;    
    z-index: 1;
}

a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #0076ff; 
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease-in-out; 
    z-index: 2;
}

a:hover::after{
    transform: scaleX(1); 
    transform-origin: left;
}

.activo{
    color: #2b51e7;
}

.icono-nav {
    display: flex;
    align-items: center;
}

.icono-nav::after {
    display: none !important; 
}

.usuarios {
    height: 35px; 
    width: 35px;
    object-fit: contain;
}